{
    "openapi": "3.0.0",
    "info": {
        "title": "UMS API - LMS Module",
        "description": "Learning Management System API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.hqnhat.id.vn",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/v1/lms/course-materials": {
            "get": {
                "tags": [
                    "Course Materials"
                ],
                "summary": "Get list of course materials",
                "operationId": "f35bd9171562058f35ccc1a51372f265",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Material title filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "learning_course_id",
                        "in": "query",
                        "description": "Learning course ID filter",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "material_type",
                        "in": "query",
                        "description": "Material type filter (video, pdf, slide, document, source_code, archive, image, link)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "is_downloadable",
                        "in": "query",
                        "description": "Downloadable flag filter (1 for true, 0 for false)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status filter (active, inactive)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort by field",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "created_at"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction (asc/desc)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy danh sách tài liệu khóa học thành công."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CourseMaterial"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Course Materials"
                ],
                "summary": "Create a new course material",
                "description": "Creates a new course material. NOTE: For material_type = \"video\" or \"link\", physical file uploads (\"file\") are NOT allowed. You must provide an external URL in \"file_path\" (e.g. YouTube or Drive URL). For is_downloadable in form-data, send 1 for true or 0 for false.",
                "operationId": "b78c9d29ff15d81822120be5b77d25bf",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "title",
                                    "material_type"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Bài giảng Lập trình Web PHP - Chương 1"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Mô tả chi tiết bài giảng",
                                        "nullable": true
                                    },
                                    "learning_course_id": {
                                        "type": "integer",
                                        "example": 5,
                                        "nullable": true
                                    },
                                    "material_type": {
                                        "description": "video, pdf, slide, document, source_code, archive, image, link",
                                        "type": "string",
                                        "example": "pdf"
                                    },
                                    "file": {
                                        "description": "Material file attachment (max 500MB). NOTE: Not allowed when material_type is video or link.",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "file_path": {
                                        "description": "External file URL (Required for video/link material_type) or relative path if not uploading file",
                                        "type": "string",
                                        "example": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
                                        "nullable": true
                                    },
                                    "duration": {
                                        "description": "Duration in seconds",
                                        "type": "integer",
                                        "example": 1800,
                                        "nullable": true
                                    },
                                    "display_order": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "is_downloadable": {
                                        "description": "Downloadable flag: 1 (true) or 0 (false)",
                                        "type": "integer",
                                        "example": 1,
                                        "enum": [
                                            0,
                                            1
                                        ]
                                    },
                                    "status": {
                                        "description": "active, inactive",
                                        "type": "string",
                                        "example": "active",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "material_type"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Bài giảng Lập trình Web PHP - Chương 1"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Mô tả chi tiết bài giảng",
                                        "nullable": true
                                    },
                                    "learning_course_id": {
                                        "type": "integer",
                                        "example": 5,
                                        "nullable": true
                                    },
                                    "material_type": {
                                        "description": "video, pdf, slide, document, source_code, archive, image, link",
                                        "type": "string",
                                        "example": "video"
                                    },
                                    "file_path": {
                                        "description": "External file URL (Required for video/link material_type)",
                                        "type": "string",
                                        "example": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
                                        "nullable": true
                                    },
                                    "duration": {
                                        "description": "Duration in seconds",
                                        "type": "integer",
                                        "example": 1800,
                                        "nullable": true
                                    },
                                    "display_order": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "is_downloadable": {
                                        "description": "Downloadable flag (true/false or 1/0)",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "status": {
                                        "description": "active, inactive",
                                        "type": "string",
                                        "example": "active",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tạo mới tài liệu khóa học thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/CourseMaterial"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Content / Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/lms/course-materials/{course_material}": {
            "get": {
                "tags": [
                    "Course Materials"
                ],
                "summary": "Get detailed course material by ID",
                "operationId": "356106fc989aeb755bfed076b66947d1",
                "parameters": [
                    {
                        "name": "course_material",
                        "in": "path",
                        "description": "Course material ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy chi tiết tài liệu khóa học thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/CourseMaterial"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Course material not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Course Materials"
                ],
                "summary": "Update existing course material",
                "description": "Updates an existing course material. NOTE: For material_type = \"video\" or \"link\", physical file uploads (\"file\") are NOT allowed. You must provide an external URL in \"file_path\" (e.g. YouTube or Drive URL). For is_downloadable in form-data, send 1 for true or 0 for false.",
                "operationId": "6c8fddf570e846023e68fd0e95747a43",
                "parameters": [
                    {
                        "name": "course_material",
                        "in": "path",
                        "description": "Course material ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Bài giảng Lập trình Web PHP - Chương 1 (Cập nhật)"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Mô tả chi tiết đã cập nhật",
                                        "nullable": true
                                    },
                                    "learning_course_id": {
                                        "type": "integer",
                                        "example": 5,
                                        "nullable": true
                                    },
                                    "material_type": {
                                        "description": "video, pdf, slide, document, source_code, archive, image, link",
                                        "type": "string",
                                        "example": "pdf",
                                        "nullable": true
                                    },
                                    "file": {
                                        "description": "New material file attachment. NOTE: Not allowed when material_type is video or link.",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "file_path": {
                                        "description": "External file URL (Required for video/link material_type) or relative path",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "duration": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "display_order": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "is_downloadable": {
                                        "description": "Downloadable flag: 1 (true) or 0 (false)",
                                        "type": "integer",
                                        "example": 1,
                                        "enum": [
                                            0,
                                            1
                                        ]
                                    },
                                    "status": {
                                        "description": "active, inactive",
                                        "type": "string",
                                        "example": "active",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Bài giảng Lập trình Web PHP - Chương 1 (Cập nhật)"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Mô tả chi tiết đã cập nhật",
                                        "nullable": true
                                    },
                                    "learning_course_id": {
                                        "type": "integer",
                                        "example": 5,
                                        "nullable": true
                                    },
                                    "material_type": {
                                        "description": "video, pdf, slide, document, source_code, archive, image, link",
                                        "type": "string",
                                        "example": "video",
                                        "nullable": true
                                    },
                                    "file_path": {
                                        "type": "string",
                                        "example": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
                                        "nullable": true
                                    },
                                    "duration": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "display_order": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "is_downloadable": {
                                        "description": "Downloadable flag (true/false or 1/0)",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "status": {
                                        "description": "active, inactive",
                                        "type": "string",
                                        "example": "active",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật tài liệu khóa học thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/CourseMaterial"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Course material not found"
                    },
                    "422": {
                        "description": "Unprocessable Content / Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Course Materials"
                ],
                "summary": "Delete course material",
                "operationId": "e3ce35980b45eeaecd18cd5012bbd65c",
                "parameters": [
                    {
                        "name": "course_material",
                        "in": "path",
                        "description": "Course material ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Xóa tài liệu khóa học thành công."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Course material not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/lms/course-materials/{course_material}/download": {
            "get": {
                "tags": [
                    "Course Materials"
                ],
                "summary": "Download course material file attachment",
                "description": "Returns file stream if downloadable is true. Throws error 422 if is_downloadable is false.",
                "operationId": "48482463153abb7d7b06d59d4e468fdc",
                "parameters": [
                    {
                        "name": "course_material",
                        "in": "path",
                        "description": "Course material ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Binary file stream response",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Course material or file not found"
                    },
                    "422": {
                        "description": "Material is not downloadable"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/lms/course-materials/{course_material}/view": {
            "get": {
                "tags": [
                    "Course Materials"
                ],
                "summary": "View course material inline (PDF/Image/Stream)",
                "description": "Streams the attached file inline for browser preview. Embed this API URL directly inside an iframe tag or PDF viewer.",
                "operationId": "12912502d879326f43671a5bd9f52f69",
                "parameters": [
                    {
                        "name": "course_material",
                        "in": "path",
                        "description": "Course material ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File inline view response",
                        "content": {
                            "application/pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Course material or file not found"
                    },
                    "422": {
                        "description": "External URL file stream not supported"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/lms/course-modules": {
            "get": {
                "tags": [
                    "Course Modules"
                ],
                "summary": "Get list of course modules",
                "operationId": "67ca2b58162fa8cf9ceb8b27e5b55fd0",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Module title filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "learning_course_id",
                        "in": "query",
                        "description": "Learning course ID filter",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is_published",
                        "in": "query",
                        "description": "Published flag filter (1 for true, 0 for false)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status filter (active, inactive)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort by field",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "display_order"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction (asc/desc)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "asc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy danh sách chương/học phần khóa học thành công."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CourseModule"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Course Modules"
                ],
                "summary": "Create a new course module",
                "operationId": "bb51019409f560cff4b6697585d2b9d3",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "learning_course_id"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Chương 1: Tổng quan về lập trình Web"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Mô tả chương 1",
                                        "nullable": true
                                    },
                                    "learning_course_id": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "is_published": {
                                        "description": "Trạng thái xuất bản",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "status": {
                                        "description": "active, inactive",
                                        "type": "string",
                                        "example": "active",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tạo chương/học phần khóa học thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/CourseModule"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/lms/course-modules/reorder": {
            "post": {
                "tags": [
                    "Course Modules"
                ],
                "summary": "Reorder course modules display order",
                "operationId": "f762df6e56a694a18bba171df4dbcbb6",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "orders"
                                ],
                                "properties": {
                                    "orders": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "display_order": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reordered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật chương/học phần khóa học thành công."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/lms/course-modules/{course_module}": {
            "get": {
                "tags": [
                    "Course Modules"
                ],
                "summary": "Get course module details by ID",
                "operationId": "9991854d91fa4bf721bb6a964638fc6f",
                "parameters": [
                    {
                        "name": "course_module",
                        "in": "path",
                        "description": "Course module ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy thông tin chương/học phần khóa học thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/CourseModule"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Course Modules"
                ],
                "summary": "Update a course module",
                "operationId": "0c5a5d4eb0d9eebb43624c33f334855e",
                "parameters": [
                    {
                        "name": "course_module",
                        "in": "path",
                        "description": "Course module ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Chương 1: Cập nhật tiêu đề"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Cập nhật mô tả",
                                        "nullable": true
                                    },
                                    "learning_course_id": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "is_published": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "status": {
                                        "description": "active, inactive",
                                        "type": "string",
                                        "example": "active",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật chương/học phần khóa học thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/CourseModule"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Course Modules"
                ],
                "summary": "Delete a course module",
                "operationId": "63b26439742e7e6b2d5282983feb8bb3",
                "parameters": [
                    {
                        "name": "course_module",
                        "in": "path",
                        "description": "Course module ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Xóa chương/học phần khóa học thành công."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/lms/learning-courses": {
            "get": {
                "tags": [
                    "Learning Courses"
                ],
                "summary": "Get a paginated list of learning courses",
                "description": "Returns a paginated list of learning courses.\n\n**Automatic role-based filtering:**\n- **Admin / Academic Affairs**: Sees all courses.\n- **Lecturer**: Automatically filtered to courses where `lecturer_id` matches their employee profile. Cannot see courses of other lecturers.\n- **Student**: Automatically filtered to courses whose `course_section_id` matches the course sections they are registered in (via `course_registrations`). Returns empty if the student has no registered sections.\n\n> The `lecturer_id` and `visibility` query parameters will be **ignored or overridden** for non-admin users.",
                "operationId": "69c4c199a40aa9879d4c3c7356a3f1f7",
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filter by exact course code",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "CS101_2026"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Search by course name (partial match)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Web Programming"
                        }
                    },
                    {
                        "name": "course_section_id",
                        "in": "query",
                        "description": "Filter by course section ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 5
                        }
                    },
                    {
                        "name": "lecturer_id",
                        "in": "query",
                        "description": "Filter by lecturer employee profile ID. **Admin only** — overridden automatically for Lecturers.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "enrollment_type",
                        "in": "query",
                        "description": "Filter by enrollment type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "self_enrollment",
                            "enum": [
                                "self_enrollment",
                                "invitation",
                                "course_section"
                            ]
                        }
                    },
                    {
                        "name": "visibility",
                        "in": "query",
                        "description": "Filter by visibility. **Admin only.**",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "public",
                            "enum": [
                                "public",
                                "private"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by course status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "active",
                            "enum": [
                                "active",
                                "inactive",
                                "archived"
                            ]
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Filter courses starting on or after this date (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2026-09-01"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "Filter courses ending on or before this date (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2026-12-31"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Field to sort by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "created_at",
                            "enum": [
                                "id",
                                "code",
                                "name",
                                "start_date",
                                "end_date",
                                "visibility",
                                "status",
                                "created_at",
                                "updated_at"
                            ]
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page (max 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Learning courses retrieved successfully."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/LearningCourse"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 72
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Learning Courses"
                ],
                "summary": "Create a new learning course",
                "description": "Creates a new learning course.\n\n**Required permission:** `learning_courses.create`\n\n**Notes:**\n- `code` must be unique across the system.\n- `thumbnail`, if an image file is uploaded, will be automatically converted to **WebP** format.\n- `lecturer_id` must reference a valid `employee_profiles.id`.\n- `course_section_id`, if provided, must reference an existing course section.",
                "operationId": "c584bd87ea49addf5be2be8e237bdf2d",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name"
                                ],
                                "properties": {
                                    "code": {
                                        "description": "Unique course code",
                                        "type": "string",
                                        "example": "CS101_2026"
                                    },
                                    "name": {
                                        "description": "Course name",
                                        "type": "string",
                                        "example": "Advanced Web Programming"
                                    },
                                    "description": {
                                        "description": "Detailed course description",
                                        "type": "string",
                                        "example": "This course covers modern web development techniques.",
                                        "nullable": true
                                    },
                                    "thumbnail": {
                                        "description": "Course cover image (auto-converted to WebP). Supported: jpg, png, gif, webp",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "course_section_id": {
                                        "description": "Linked course section ID (students enrolled in this section can access the course)",
                                        "type": "integer",
                                        "example": 5,
                                        "nullable": true
                                    },
                                    "lecturer_id": {
                                        "description": "Employee profile ID (`employee_profiles.id`) of the assigned lecturer",
                                        "type": "integer",
                                        "example": 10,
                                        "nullable": true
                                    },
                                    "start_date": {
                                        "description": "Course start date",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-09-01",
                                        "nullable": true
                                    },
                                    "end_date": {
                                        "description": "Course end date (must be after start_date)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-12-31",
                                        "nullable": true
                                    },
                                    "enrollment_type": {
                                        "description": "Enrollment type:\n- `self_enrollment`: Students can self-enroll\n- `invitation`: By invitation only\n- `course_section`: Linked to a course section (automatic enrollment)",
                                        "type": "string",
                                        "example": "course_section",
                                        "nullable": true,
                                        "enum": [
                                            "self_enrollment",
                                            "invitation",
                                            "course_section"
                                        ]
                                    },
                                    "visibility": {
                                        "description": "Visibility:\n- `public`: Visible to all authenticated users\n- `private`: Visible to assigned lecturer and admins only",
                                        "type": "string",
                                        "example": "public",
                                        "nullable": true,
                                        "enum": [
                                            "public",
                                            "private"
                                        ]
                                    },
                                    "status": {
                                        "description": "Course status:\n- `active`: Active and accessible\n- `inactive`: Temporarily disabled\n- `archived`: Archived, read-only",
                                        "type": "string",
                                        "example": "active",
                                        "nullable": true,
                                        "enum": [
                                            "active",
                                            "inactive",
                                            "archived"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "CS101_2026"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Advanced Web Programming"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "This course covers modern web development techniques.",
                                        "nullable": true
                                    },
                                    "thumbnail": {
                                        "description": "File path (used when not uploading a file)",
                                        "type": "string",
                                        "example": "learning_courses/thumbnail.webp",
                                        "nullable": true
                                    },
                                    "course_section_id": {
                                        "type": "integer",
                                        "example": 5,
                                        "nullable": true
                                    },
                                    "lecturer_id": {
                                        "type": "integer",
                                        "example": 10,
                                        "nullable": true
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-09-01",
                                        "nullable": true
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-12-31",
                                        "nullable": true
                                    },
                                    "enrollment_type": {
                                        "type": "string",
                                        "example": "course_section",
                                        "nullable": true,
                                        "enum": [
                                            "self_enrollment",
                                            "invitation",
                                            "course_section"
                                        ]
                                    },
                                    "visibility": {
                                        "type": "string",
                                        "example": "public",
                                        "nullable": true,
                                        "enum": [
                                            "public",
                                            "private"
                                        ]
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "active",
                                        "nullable": true,
                                        "enum": [
                                            "active",
                                            "inactive",
                                            "archived"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Course created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Learning course created successfully."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/LearningCourse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden — insufficient permission to create courses"
                    },
                    "422": {
                        "description": "Validation error (e.g., duplicate code, end_date before start_date)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/lms/learning-courses/{id}": {
            "get": {
                "tags": [
                    "Learning Courses"
                ],
                "summary": "Get a learning course by ID",
                "description": "Returns the details of a specific learning course.\n\n**Access control:**\n- **Admin / Academic Affairs**: Always allowed.\n- **Lecturer**: Allowed only if they are the assigned lecturer of this course.\n- **Student**: Allowed only if they are registered in the course's linked course section (`course_section_id`). Returns `403` if not enrolled.\n- **Others**: Requires `learning_courses.view` permission.",
                "operationId": "3535a46f3d768e6395d1cdcbedbada83",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Learning course ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 3
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Learning course retrieved successfully."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/LearningCourse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden — not the assigned lecturer, or student is not enrolled in the linked course section"
                    },
                    "404": {
                        "description": "Learning course not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Learning Courses"
                ],
                "summary": "Update a learning course",
                "description": "Updates an existing learning course. All fields are optional (partial update supported).\n\n**Access control:**\n- **Assigned Lecturer**: Can update their own course.\n- **User with** `learning_courses.update` **permission**: Can update any course.\n\n**Notes:**\n- If a new `thumbnail` file is uploaded, the old thumbnail will be **deleted from storage**.\n- Changing `course_section_id` affects which students can access the course.",
                "operationId": "fe5e8e29446ec4d94fbc0dcc251ce2d5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Learning course ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 3
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "description": "Unique course code",
                                        "type": "string",
                                        "example": "CS101_2026"
                                    },
                                    "name": {
                                        "description": "Course name",
                                        "type": "string",
                                        "example": "Advanced Web Programming"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Updated course description.",
                                        "nullable": true
                                    },
                                    "thumbnail": {
                                        "description": "New cover image (old image will be deleted)",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "course_section_id": {
                                        "type": "integer",
                                        "example": 5,
                                        "nullable": true
                                    },
                                    "lecturer_id": {
                                        "type": "integer",
                                        "example": 10,
                                        "nullable": true
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-09-01",
                                        "nullable": true
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-12-31",
                                        "nullable": true
                                    },
                                    "enrollment_type": {
                                        "type": "string",
                                        "example": "course_section",
                                        "nullable": true,
                                        "enum": [
                                            "self_enrollment",
                                            "invitation",
                                            "course_section"
                                        ]
                                    },
                                    "visibility": {
                                        "type": "string",
                                        "example": "public",
                                        "nullable": true,
                                        "enum": [
                                            "public",
                                            "private"
                                        ]
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "active",
                                        "nullable": true,
                                        "enum": [
                                            "active",
                                            "inactive",
                                            "archived"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "CS101_2026"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Advanced Web Programming"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Updated course description.",
                                        "nullable": true
                                    },
                                    "thumbnail": {
                                        "type": "string",
                                        "example": "learning_courses/thumbnail.webp",
                                        "nullable": true
                                    },
                                    "course_section_id": {
                                        "type": "integer",
                                        "example": 5,
                                        "nullable": true
                                    },
                                    "lecturer_id": {
                                        "type": "integer",
                                        "example": 10,
                                        "nullable": true
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-09-01",
                                        "nullable": true
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-12-31",
                                        "nullable": true
                                    },
                                    "enrollment_type": {
                                        "type": "string",
                                        "example": "course_section",
                                        "nullable": true,
                                        "enum": [
                                            "self_enrollment",
                                            "invitation",
                                            "course_section"
                                        ]
                                    },
                                    "visibility": {
                                        "type": "string",
                                        "example": "public",
                                        "nullable": true,
                                        "enum": [
                                            "public",
                                            "private"
                                        ]
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "active",
                                        "nullable": true,
                                        "enum": [
                                            "active",
                                            "inactive",
                                            "archived"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Course updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Learning course updated successfully."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/LearningCourse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden — not the assigned lecturer or insufficient permission"
                    },
                    "404": {
                        "description": "Learning course not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Learning Courses"
                ],
                "summary": "Delete a learning course",
                "description": "Soft-deletes a learning course.\n\n**Access control:**\n- **Assigned Lecturer**: Can delete their own course.\n- **User with** `learning_courses.delete` **permission**: Can delete any course.\n\n**Notes:**\n- This is a **soft delete** — data is not permanently removed from the database.\n- The course `thumbnail` image will be **permanently deleted** from storage.\n- The course `code` will be renamed to `{code}_del_{id}` to prevent unique constraint conflicts when recreating a course with the same code.",
                "operationId": "15c05bdc888b29fa8175897f9931e22d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Learning course ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 3
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Course deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Learning course deleted successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden — not the assigned lecturer or insufficient permission"
                    },
                    "404": {
                        "description": "Learning course not found"
                    }
                },
                "security": [
[...]
