{
    "openapi": "3.0.0",
    "info": {
        "title": "UMS API - HRM Module",
        "description": "Human Resource Management Module API for University Management System",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.hqnhat.id.vn",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/v1/hrm/academic-ranks": {
            "get": {
                "tags": [
                    "Academic Ranks"
                ],
                "summary": "Get list of academic ranks",
                "operationId": "07b82b578b2fc571213560608f9d8a4e",
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Academic Rank code filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Academic Rank name filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status filter (0: INACTIVE, 1: ACTIVE)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort by field",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction (asc/desc)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy danh sách học hàm thành công."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AcademicRank"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Academic Ranks"
                ],
                "summary": "Create a new academic rank",
                "operationId": "d9e5fa04096a89d0f0c8b81da3e7670f",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "GS"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Giáo sư"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Học hàm Giáo sư",
                                        "nullable": true
                                    },
                                    "sort_order": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "status": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Academic Rank created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tạo học hàm thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicRank"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/hrm/academic-ranks/{id}": {
            "get": {
                "tags": [
                    "Academic Ranks"
                ],
                "summary": "Get an academic rank by ID",
                "operationId": "1aa383ce3f336d52f53982854d99a551",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Academic Rank ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy chi tiết học hàm thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicRank"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Academic Rank not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Academic Ranks"
                ],
                "summary": "Update an existing academic rank",
                "operationId": "4555702df19ad4628ebce64adc27cc76",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Academic Rank ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "GS"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Giáo sư"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Học hàm Giáo sư",
                                        "nullable": true
                                    },
                                    "sort_order": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "status": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Academic Rank updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật học hàm thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicRank"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Academic Rank not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Academic Ranks"
                ],
                "summary": "Delete an academic rank",
                "operationId": "5a3c9988c1c9be32cb7b21f9e255685b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Academic Rank ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Academic Rank deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Xóa học hàm thành công."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Academic Rank not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/hrm/advisor-assignments": {
            "get": {
                "tags": [
                    "Advisor Assignments"
                ],
                "summary": "Get list of advisor assignments",
                "operationId": "c0dd2d9f928c3f8db06978ca67a5dbb4",
                "parameters": [
                    {
                        "name": "lecturer_id",
                        "in": "query",
                        "description": "Lecturer ID filter",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "class_id",
                        "in": "query",
                        "description": "Class ID filter",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "class_code",
                        "in": "query",
                        "description": "Class Code filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "academic_term_id",
                        "in": "query",
                        "description": "Academic Term ID filter",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status filter (active, completed, cancelled)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "completed",
                                "cancelled"
                            ]
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Start date filter (>=)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "End date filter (<=)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort by field",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction (asc/desc)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy danh sách phân công cố vấn học tập thành công."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdvisorAssignment"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Advisor Assignments"
                ],
                "summary": "Create a new advisor assignment",
                "operationId": "38536d8c8c23d65bb63042b137b45f80",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "lecturer_id",
                                    "class_id",
                                    "academic_term_id"
                                ],
                                "properties": {
                                    "lecturer_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "class_id": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "academic_term_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-08-01",
                                        "nullable": true
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-12-15",
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "active"
                                    },
                                    "note": {
                                        "type": "string",
                                        "example": "Ghi chú phân công cố vấn học tập",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Advisor Assignment created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tạo phân công cố vấn học tập thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AdvisorAssignment"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/hrm/advisor-assignments/{id}": {
            "get": {
                "tags": [
                    "Advisor Assignments"
                ],
                "summary": "Get an advisor assignment by ID",
                "operationId": "79fa15a015c0dda69b52ca2df04c0cf4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Advisor Assignment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy chi tiết phân công cố vấn học tập thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AdvisorAssignment"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Advisor Assignment not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Advisor Assignments"
                ],
                "summary": "Update an existing advisor assignment",
                "operationId": "1e34358a5bcacc08fa6b5dcc9b50cbeb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Advisor Assignment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "lecturer_id",
                                    "class_id",
                                    "academic_term_id"
                                ],
                                "properties": {
                                    "lecturer_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "class_id": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "academic_term_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-08-01",
                                        "nullable": true
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-12-15",
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "active"
                                    },
                                    "note": {
                                        "type": "string",
                                        "example": "Ghi chú phân công cố vấn học tập",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Advisor Assignment updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật phân công cố vấn học tập thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AdvisorAssignment"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Advisor Assignment not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Advisor Assignments"
                ],
                "summary": "Delete an advisor assignment",
                "operationId": "f9c2045b115719c39ff48a716c5ebc10",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Advisor Assignment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Advisor Assignment deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Xóa phân công cố vấn học tập thành công."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Advisor Assignment not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/hrm/attendances": {
            "get": {
                "tags": [
                    "Attendances"
                ],
                "summary": "Get list of attendances",
                "operationId": "6827fcb34fb8cb5ef898b2a527dad110",
                "parameters": [
                    {
                        "name": "employee_id",
                        "in": "query",
                        "description": "Employee ID filter",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "schedule_id",
                        "in": "query",
                        "description": "Work schedule ID filter",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "attendance_date",
                        "in": "query",
                        "description": "Attendance date filter (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Start date filter (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "End date filter (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "attendance_status",
                        "in": "query",
                        "description": "Attendance status filter",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "present",
                                "absent",
                                "leave",
                                "holiday",
                                "remote"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort by field",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "attendance_date"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction (asc/desc)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy danh sách điểm danh thành công."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Attendance"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Attendances"
                ],
                "summary": "Create a new attendance record",
                "operationId": "97ca2156c26de26b9c4f27a474b26246",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "employee_id",
                                    "attendance_date"
                                ],
                                "properties": {
                                    "employee_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "schedule_id": {
                                        "type": "integer",
                                        "example": 2,
                                        "nullable": true
                                    },
                                    "attendance_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-08-05"
                                    },
                                    "check_in": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2026-08-05 08:00:00",
                                        "nullable": true
                                    },
                                    "check_out": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2026-08-05 17:00:00",
                                        "nullable": true
                                    },
                                    "working_minutes": {
                                        "type": "integer",
                                        "example": 480
                                    },
                                    "late_minutes": {
                                        "type": "integer",
                                        "example": 0
                                    },
                                    "early_leave_minutes": {
                                        "type": "integer",
                                        "example": 0
                                    },
                                    "overtime_minutes": {
                                        "type": "integer",
                                        "example": 0
                                    },
                                    "attendance_status": {
                                        "type": "string",
                                        "example": "present",
                                        "enum": [
                                            "present",
                                            "absent",
                                            "leave",
                                            "holiday",
                                            "remote"
                                        ]
                                    },
                                    "remark": {
                                        "type": "string",
                                        "example": "Điểm danh đúng giờ",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Attendance created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tạo bản ghi điểm danh thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Attendance"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/hrm/attendances/{id}": {
            "get": {
                "tags": [
                    "Attendances"
                ],
                "summary": "Get an attendance record by ID",
                "operationId": "150343ec11f418e87da1d7593976a01a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attendance ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy chi tiết bản ghi điểm danh thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Attendance"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Attendance record not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Attendances"
                ],
                "summary": "Update an existing attendance record",
                "operationId": "28709159d6101f4ce961919d331463de",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attendance ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "employee_id",
                                    "attendance_date"
                                ],
                                "properties": {
                                    "employee_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "schedule_id": {
                                        "type": "integer",
                                        "example": 2,
                                        "nullable": true
                                    },
                                    "attendance_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-08-05"
                                    },
                                    "check_in": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2026-08-05 08:00:00",
                                        "nullable": true
                                    },
                                    "check_out": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2026-08-05 17:00:00",
                                        "nullable": true
                                    },
                                    "working_minutes": {
                                        "type": "integer",
                                        "example": 480
                                    },
                                    "late_minutes": {
                                        "type": "integer",
                                        "example": 0
                                    },
                                    "early_leave_minutes": {
                                        "type": "integer",
                                        "example": 0
                                    },
                                    "overtime_minutes": {
                                        "type": "integer",
                                        "example": 0
                                    },
                                    "attendance_status": {
                                        "type": "string",
                                        "example": "present",
                                        "enum": [
                                            "present",
                                            "absent",
                                            "leave",
                                            "holiday",
                                            "remote"
                                        ]
                                    },
                                    "remark": {
                                        "type": "string",
                                        "example": "Cập nhật ghi chú điểm danh",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Attendance updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật bản ghi điểm danh thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Attendance"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Attendance record not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Attendances"
                ],
                "summary": "Delete an attendance record",
                "operationId": "f85fd7ddfc0db9ee43c0280bf5ab14ae",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attendance ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendance deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Xóa bản ghi điểm danh thành công."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Attendance record not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/hrm/attendance-logs": {
            "get": {
                "tags": [
                    "Attendance Logs"
                ],
                "summary": "Get list of attendance logs",
                "operationId": "e2f703e2e123a9564ea1045a9904f672",
                "parameters": [
                    {
                        "name": "attendance_id",
                        "in": "query",
                        "description": "Attendance ID filter",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "employee_id",
                        "in": "query",
                        "description": "Employee ID filter",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "description": "Action filter (check_in, check_out)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "check_in",
                                "check_out"
                            ]
                        }
                    },
                    {
                        "name": "device_type",
                        "in": "query",
                        "description": "Device type filter",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "web",
                                "mobile",
                                "face",
                                "fingerprint",
                                "card"
                            ]
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "Device ID filter",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Start date filter (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "End date filter (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort by field",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "created_at"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction (asc/desc)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy danh sách lịch sử điểm danh thành công."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AttendanceLog"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Attendance Logs"
                ],
                "summary": "Create a new attendance log entry",
                "operationId": "1694c45110eab0664d6edbde52b52a45",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "attendance_id",
                                    "employee_id",
                                    "device_id"
                                ],
                                "properties": {
                                    "attendance_id": {
                                        "type": "integer",
                                        "example": 10
                                    },
                                    "employee_id": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "action": {
                                        "type": "string",
                                        "example": "check_in",
                                        "enum": [
                                            "check_in",
                                            "check_out"
                                        ]
                                    },
                                    "device_type": {
                                        "type": "string",
                                        "example": "fingerprint",
                                        "enum": [
                                            "web",
                                            "mobile",
                                            "face",
                                            "fingerprint",
                                            "card"
                                        ]
                                    },
                                    "device_id": {
                                        "type": "integer",
                                        "example": 1001
                                    },
                                    "device_name": {
                                        "type": "string",
                                        "example": "Máy chấm công sảnh A",
                                        "nullable": true
                                    },
                                    "ip_address": {
                                        "type": "string",
                                        "example": "192.168.1.100",
                                        "nullable": true
                                    },
                                    "latitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 10.762622,
                                        "nullable": true
                                    },
                                    "longitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 106.660172,
                                        "nullable": true
                                    },
                                    "photo_path": {
                                        "type": "string",
                                        "example": "/storage/attendance/logs/photo123.jpg",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Attendance log created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tạo lịch sử điểm danh thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AttendanceLog"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Dữ liệu không hợp lệ."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/hrm/attendance-logs/{id}": {
            "get": {
                "tags": [
                    "Attendance Logs"
                ],
                "summary": "Get attendance log entry by ID",
                "operationId": "141a50d6bb4b28c7b1ecc7a61bf5d3eb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attendance Log ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy thông tin lịch sử điểm danh thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AttendanceLog"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Attendance log record not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy bản ghi lịch sử điểm danh."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/hrm/certificates": {
            "get": {
                "tags": [
                    "Certificates"
                ],
                "summary": "Get list of certificates for an employee",
                "operationId": "89d99cd5969c989e36e7b624a2c4590a",
                "parameters": [
                    {
                        "name": "employee_id",
                        "in": "query",
                        "description": "Employee ID filter",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "certificate_name",
                        "in": "query",
                        "description": "Certificate name filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "Organization filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "certificate_no",
                        "in": "query",
                        "description": "Certificate number filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "issue_date",
                        "in": "query",
                        "description": "Issue date filter (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "expiry_date",
                        "in": "query",
                        "description": "Expiry date filter (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort by field",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction (asc/desc)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy danh sách chứng chỉ thành công."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Certificate"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Certificates"
                ],
                "summary": "Create a new certificate",
                "operationId": "d4ee5fd410c793950bd3a2c96e73f83c",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "vi"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "employee_id",
                                    "certificate_name"
                                ],
                                "properties": {
                                    "employee_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "certificate_name": {
                                        "type": "string",
                                        "example": "Chứng chỉ Tiếng Anh IELTS 7.5"
                                    },
                                    "organization": {
                                        "type": "string",
                                        "example": "IDP Education",
                                        "nullable": true
                                    },
                                    "issue_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-05-15",
                                        "nullable": true
                                    },
                                    "expiry_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-05-15",
                                        "nullable": true
                                    },
                                    "certificate_no": {
                                        "type": "string",
                                        "example": "IELTS-2024-88921",
                                        "nullable": true
                                    },
                                    "file": {
                                        "description": "File đính kèm chứng chỉ (PDF, Docx, Image, max 10MB)",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "note": {
                                        "type": "string",
                                        "example": "Chứng chỉ nộp khi tuyển dụng",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "employee_id",
                                    "certificate_name"
                                ],
                                "properties": {
                                    "employee_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "certificate_name": {
                                        "type": "string",
                                        "example": "Chứng chỉ Tiếng Anh IELTS 7.5"
                                    },
                                    "organization": {
                                        "type": "string",
                                        "example": "IDP Education",
                                        "nullable": true
                                    },
                                    "issue_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-05-15",
                                        "nullable": true
                                    },
                                    "expiry_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-05-15",
                                        "nullable": true
                                    },
                                    "certificate_no": {
                                        "type": "string",
                                        "example": "IELTS-2024-88921",
                                        "nullable": true
                                    },
                                    "note": {
                                        "type": "string",
                                        "example": "Chứng chỉ nộp khi tuyển dụng",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Certificate created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tạo chứng chỉ thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Certificate"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/hrm/certificates/{id}": {
            "get": {
                "tags": [
                    "Certificates"
                ],
                "summary": "Get a certificate by ID",
                "operationId": "a07338421c58d9882edc95ae423584ad",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Certificate ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Mã ngôn ngữ (vi, en)",
                        "required": false,
[...]
