{
    "openapi": "3.0.0",
    "info": {
        "title": "UMS API",
        "description": "University Management System API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.hqnhat.id.vn",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/v1/sis/academic-terms": {
            "get": {
                "tags": [
                    "AcademicTerms"
                ],
                "summary": "Get list of academic terms",
                "operationId": "3226242f6137611d25be7a63c62b68a5",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Column to sort by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filter by code",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "academic_year",
                        "in": "query",
                        "description": "Filter by academic year",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "semester",
                        "in": "query",
                        "description": "Filter by semester",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status (0: PLANNING, 1: REGISTRATION, 2: STUDYING, 3: FINISHED)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1,
                                2,
                                3
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy danh sách kỳ học thành công."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AcademicTerm"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "AcademicTerms"
                ],
                "summary": "Create a new academic term",
                "operationId": "f7912a0592ecd3543f8f8e95fe3f0937",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "academic_year",
                                    "semester",
                                    "start_date",
                                    "end_date",
                                    "registration_start",
                                    "registration_end",
                                    "status"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "HK1_2023_2024"
                                    },
                                    "academic_year": {
                                        "type": "string",
                                        "example": "2023-2024"
                                    },
                                    "semester": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-09-01"
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-31"
                                    },
                                    "registration_start": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-08-15"
                                    },
                                    "registration_end": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-08-30"
                                    },
                                    "status": {
                                        "description": "0: PLANNING, 1: REGISTRATION, 2: STUDYING, 3: FINISHED",
                                        "type": "integer",
                                        "example": 0
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Academic term created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tạo kỳ học thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicTerm"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/sis/academic-terms/{academic_term}": {
            "get": {
                "tags": [
                    "AcademicTerms"
                ],
                "summary": "Get academic term details",
                "operationId": "96a3ea32d4c6ad9a001357ec52769442",
                "parameters": [
                    {
                        "name": "academic_term",
                        "in": "path",
                        "description": "Academic Term ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy chi tiết kỳ học thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicTerm"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Academic term not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "AcademicTerms"
                ],
                "summary": "Update academic term",
                "operationId": "cf6dbfbb4e587896cfb2d37f79707de4",
                "parameters": [
                    {
                        "name": "academic_term",
                        "in": "path",
                        "description": "Academic Term ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "academic_year",
                                    "semester",
                                    "start_date",
                                    "end_date",
                                    "registration_start",
                                    "registration_end",
                                    "status"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "HK1_2023_2024"
                                    },
                                    "academic_year": {
                                        "type": "string",
                                        "example": "2023-2024"
                                    },
                                    "semester": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-09-01"
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-31"
                                    },
                                    "registration_start": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-08-15"
                                    },
                                    "registration_end": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-08-30"
                                    },
                                    "status": {
                                        "description": "0: PLANNING, 1: REGISTRATION, 2: STUDYING, 3: FINISHED",
                                        "type": "integer",
                                        "example": 0
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Academic term updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật kỳ học thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicTerm"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Academic term not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "AcademicTerms"
                ],
                "summary": "Delete academic term",
                "operationId": "5ac47700deae6e713d1a15c48c2db747",
                "parameters": [
                    {
                        "name": "academic_term",
                        "in": "path",
                        "description": "Academic Term ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Academic term deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Xóa kỳ học thành công."
                                        },
                                        "data": {
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Academic term not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/sis/academic-warnings": {
            "get": {
                "tags": [
                    "Academic Warnings"
                ],
                "summary": "Get list of academic warnings",
                "operationId": "b0afa9dd5b299179ed641cfdf2e8abe7",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Column to sort by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id",
                            "enum": [
                                "id",
                                "student_id",
                                "academic_term_id",
                                "warning_type",
                                "warning_level",
                                "resolved_at"
                            ]
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "student_id",
                        "in": "query",
                        "description": "Filter by student ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "academic_term_id",
                        "in": "query",
                        "description": "Filter by academic term ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "warning_type",
                        "in": "query",
                        "description": "Filter by warning type (1: LOW_GPA, 2: FAILED_SUBJECT, 3: INSUFFICIENT_CREDIT, 4: ACADEMIC_WARNING)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy danh sách cảnh báo học vụ thành công."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AcademicWarning"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Academic Warnings"
                ],
                "summary": "Create a new academic warning",
                "operationId": "fcff381378a3d6d5a534fe8ae6073ce8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "student_id",
                                    "academic_term_id",
                                    "warning_type",
                                    "warning_level"
                                ],
                                "properties": {
                                    "student_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "academic_term_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "warning_type": {
                                        "description": "1: LOW_GPA, 2: FAILED_SUBJECT, 3: INSUFFICIENT_CREDIT, 4: ACADEMIC_WARNING",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "warning_level": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Cảnh báo học vụ do điểm trung bình thấp"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tạo cảnh báo học vụ thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicWarning"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/sis/academic-warnings/{academicWarning}": {
            "get": {
                "tags": [
                    "Academic Warnings"
                ],
                "summary": "Get academic warning details",
                "operationId": "208609fb89d8bc4dbbb2f652452e2755",
                "parameters": [
                    {
                        "name": "academicWarning",
                        "in": "path",
                        "description": "Academic Warning ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy chi tiết cảnh báo học vụ thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicWarning"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Academic Warning not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Academic Warnings"
                ],
                "summary": "Update an academic warning",
                "operationId": "01b397f6039122b64f7f452f00796da6",
                "parameters": [
                    {
                        "name": "academicWarning",
                        "in": "path",
                        "description": "Academic Warning ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "student_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "academic_term_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "warning_type": {
                                        "description": "1: LOW_GPA, 2: FAILED_SUBJECT, 3: INSUFFICIENT_CREDIT, 4: ACADEMIC_WARNING",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "warning_level": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Cảnh báo học vụ do điểm trung bình thấp"
                                    },
                                    "resolved_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật cảnh báo học vụ thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicWarning"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Academic Warning not found"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Academic Warnings"
                ],
                "summary": "Delete an academic warning",
                "operationId": "dfa6059ce5be806b4cad19507ab13101",
                "parameters": [
                    {
                        "name": "academicWarning",
                        "in": "path",
                        "description": "Academic Warning ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Xóa cảnh báo học vụ thành công."
                                        },
                                        "data": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Academic Warning not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/sis/admission-batches": {
            "get": {
                "tags": [
                    "AdmissionBatches"
                ],
                "summary": "Get list of admission batches",
                "operationId": "2cf5e649f10a1849d3ba0b0306024f24",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Column to sort by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filter by code",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filter by name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Filter by year",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status (0: INACTIVE, 1: ACTIVE)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy danh sách đợt tuyển sinh thành công."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdmissionBatch"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "AdmissionBatches"
                ],
                "summary": "Create a new admission batch",
                "operationId": "36063a580869c99ee45f6b0e9485f14a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name",
                                    "year",
                                    "status"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "TS2024"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Tuyển sinh năm 2024"
                                    },
                                    "year": {
                                        "type": "integer",
                                        "example": 2024
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-01"
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-12-31"
                                    },
                                    "status": {
                                        "description": "0: INACTIVE, 1: ACTIVE",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Admission batch created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tạo đợt tuyển sinh thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AdmissionBatch"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/sis/admission-batches/{admission_batch}": {
            "get": {
                "tags": [
                    "AdmissionBatches"
                ],
                "summary": "Get admission batch details",
                "operationId": "4335723f8ea1c74b0f821f1513d77096",
                "parameters": [
                    {
                        "name": "admission_batch",
                        "in": "path",
                        "description": "Admission Batch ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy chi tiết đợt tuyển sinh thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AdmissionBatch"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Admission batch not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "AdmissionBatches"
                ],
                "summary": "Update admission batch",
                "operationId": "2d607a76cd173479f7a4c9ecc8622cb5",
                "parameters": [
                    {
                        "name": "admission_batch",
                        "in": "path",
                        "description": "Admission Batch ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name",
                                    "year",
                                    "status"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "TS2024"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Tuyển sinh năm 2024"
                                    },
                                    "year": {
                                        "type": "integer",
                                        "example": 2024
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-01"
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-12-31"
                                    },
                                    "status": {
                                        "description": "0: INACTIVE, 1: ACTIVE",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Admission batch updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật đợt tuyển sinh thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AdmissionBatch"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Admission batch not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "AdmissionBatches"
                ],
                "summary": "Delete admission batch",
                "operationId": "cf134fe34d0db8fcdbab2e7c80e50359",
                "parameters": [
                    {
                        "name": "admission_batch",
                        "in": "path",
                        "description": "Admission Batch ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Admission batch deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Xóa đợt tuyển sinh thành công."
                                        },
                                        "data": {
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Admission batch not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/sis/admission-students": {
            "get": {
                "tags": [
                    "AdmissionStudents"
                ],
                "summary": "Get list of admission students",
                "operationId": "085cbb6280c48ce47e167b3fa3587287",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Column to sort by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "candidate_code",
                        "in": "query",
                        "description": "Filter by candidate code",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "full_name",
                        "in": "query",
                        "description": "Filter by full name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "citizen_id",
                        "in": "query",
                        "description": "Filter by citizen ID",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Filter by phone",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Filter by email",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "batch_id",
                        "in": "query",
                        "description": "Filter by batch ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "training_system_id",
                        "in": "query",
                        "description": "Filter by training system ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "course_id",
                        "in": "query",
                        "description": "Filter by course ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "major_id",
                        "in": "query",
                        "description": "Filter by major ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "Filter by gender (1: MALE, 2: FEMALE, 3: OTHER)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                1,
                                2,
                                3
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status (0: PENDING, 1: ACCEPTED, 2: ENROLLED, 3: CANCELLED)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1,
                                2,
                                3
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy danh sách sinh viên tuyển sinh thành công."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdmissionStudent"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "AdmissionStudents"
                ],
                "summary": "Create a new admission student",
                "operationId": "c77cb4d2081fcefa3b001c731282f1ee",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "batch_id",
                                    "training_system_id",
                                    "course_id",
                                    "candidate_code",
                                    "full_name",
                                    "gender",
                                    "status"
                                ],
                                "properties": {
                                    "batch_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "training_system_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "course_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "candidate_code": {
                                        "type": "string",
                                        "example": "SV2024001"
                                    },
                                    "full_name": {
                                        "type": "string",
                                        "example": "Nguyễn Văn A"
                                    },
                                    "gender": {
                                        "description": "1: MALE, 2: FEMALE, 3: OTHER",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "date_of_birth": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2005-05-15"
                                    },
                                    "citizen_id": {
                                        "type": "string",
                                        "example": "001205000001"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "0901234567"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "nguyenvana@example.com"
                                    },
                                    "major_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "admission_score": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 25.5
                                    },
                                    "status": {
                                        "description": "0: PENDING, 1: ACCEPTED, 2: ENROLLED, 3: CANCELLED",
                                        "type": "integer",
                                        "example": 0
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Admission student created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tạo sinh viên tuyển sinh thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AdmissionStudent"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/sis/admission-students/{admission_student}": {
            "get": {
                "tags": [
                    "AdmissionStudents"
                ],
                "summary": "Get admission student details",
                "operationId": "3af34955df85a940de99da67e9c96226",
                "parameters": [
                    {
                        "name": "admission_student",
                        "in": "path",
                        "description": "Admission Student ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy chi tiết sinh viên tuyển sinh thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AdmissionStudent"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Admission student not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "AdmissionStudents"
                ],
                "summary": "Update admission student",
                "operationId": "255f180e65c87557aa267bc479b890dc",
                "parameters": [
                    {
                        "name": "admission_student",
                        "in": "path",
                        "description": "Admission Student ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "batch_id",
                                    "training_system_id",
                                    "course_id",
                                    "candidate_code",
                                    "full_name",
                                    "gender",
                                    "status"
                                ],
                                "properties": {
                                    "batch_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "training_system_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "course_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "candidate_code": {
                                        "type": "string",
                                        "example": "SV2024001"
                                    },
                                    "full_name": {
                                        "type": "string",
                                        "example": "Nguyễn Văn A"
                                    },
                                    "gender": {
                                        "description": "1: MALE, 2: FEMALE, 3: OTHER",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "date_of_birth": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2005-05-15"
                                    },
                                    "citizen_id": {
                                        "type": "string",
                                        "example": "001205000001"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "0901234567"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "nguyenvana@example.com"
                                    },
                                    "major_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "admission_score": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 25.5
                                    },
                                    "status": {
                                        "description": "0: PENDING, 1: ACCEPTED, 2: ENROLLED, 3: CANCELLED",
                                        "type": "integer",
                                        "example": 0
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Admission student updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật sinh viên tuyển sinh thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AdmissionStudent"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Admission student not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "AdmissionStudents"
                ],
                "summary": "Delete admission student",
                "operationId": "94851405e95629fbf3c696c950a0fc05",
                "parameters": [
                    {
                        "name": "admission_student",
                        "in": "path",
                        "description": "Admission Student ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Admission student deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Xóa sinh viên tuyển sinh thành công."
                                        },
                                        "data": {
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Admission student not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/sis/class-schedules": {
            "get": {
                "tags": [
                    "ClassSchedules"
                ],
                "summary": "Get list of class schedules",
                "operationId": "459fce65fe77f2c56b6edf9b20718b25",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 1000
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Column to sort by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "course_section_id",
                        "in": "query",
                        "description": "Filter by course section ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lecturer_id",
                        "in": "query",
                        "description": "Filter by lecturer ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "room_id",
                        "in": "query",
                        "description": "Filter by room ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "day_of_week",
                        "in": "query",
                        "description": "Filter by day of week",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy danh sách lịch học thành công."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ClassSchedule"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "ClassSchedules"
                ],
                "summary": "Create a new class schedule",
                "operationId": "f3c4c761ae9a16b4242b0a2aa2002421",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "course_section_id",
                                    "lecturer_id",
                                    "room_id",
                                    "day_of_week",
                                    "lesson_from",
                                    "lesson_to"
                                ],
                                "properties": {
                                    "course_section_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "lecturer_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "room_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "day_of_week": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "lesson_from": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "lesson_to": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-08-01"
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-12-15"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Class Schedule created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tạo lịch học thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/ClassSchedule"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/sis/class-schedules/{class_schedule}": {
            "get": {
                "tags": [
                    "ClassSchedules"
                ],
                "summary": "Get class schedule details",
                "operationId": "332fa0ab2d1c5e7ebb23fd530617c1db",
                "parameters": [
                    {
                        "name": "class_schedule",
                        "in": "path",
                        "description": "Class Schedule ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy chi tiết lịch học thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/ClassSchedule"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Class Schedule not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "ClassSchedules"
                ],
                "summary": "Update class schedule",
                "operationId": "7011e661dca1797d1301d85b51ebaca8",
                "parameters": [
                    {
                        "name": "class_schedule",
                        "in": "path",
                        "description": "Class Schedule ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "course_section_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "lecturer_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "room_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "day_of_week": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "lesson_from": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "lesson_to": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-08-01"
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-12-15"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Class Schedule updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật lịch học thành công."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/ClassSchedule"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Class Schedule not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "ClassSchedules"
                ],
                "summary": "Delete class schedule",
                "operationId": "c71e3596ee14b96a69213278d1b32f95",
                "parameters": [
                    {
                        "name": "class_schedule",
                        "in": "path",
                        "description": "Class Schedule ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Class Schedule deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Xóa lịch học thành công."
                                        },
                                        "data": {
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Class Schedule not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/sis/classes": {
            "get": {
                "tags": [
                    "Classes"
                ],
                "summary": "Get list of classes",
                "operationId": "f85add56b3a27bf687b0a1b09a257e64",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "sort_by",
[...]
